<div class="container">
    <h1>Factors effecting variability in drug response among racial and ethnic groups</h1>
    <div class="accordion" id="accordionExample">
        <div class="accordion-item">
          <h2 class="accordion-header">
            <button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
              Factors
            </button>
          </h2>
          <div id="collapseOne" class="accordion-collapse collapse show" data-bs-parent="#accordionExample">
            <div class="accordion-body">
              <strong>Genetic Factors: Can impact how drugs are absorbed, distributed, metabolized, and excreted within the body, as well as how they interact with receptors. (pharmacogenetics/pharmacogenetics)
                <br>
                <br>
                Environmental Factors: Factors such as diet, climate, smoking, alcohol consumption, drug use, and exposure to pollutants can affect drug absorption, distribution, metabolism, excretion, and receptor interactions. For example, differences in diet can significantly alter the metabolism rate or blood levels of drugs among different ethnic populations.
                <br>
                <br>
                Cultural Factors: Attitudes and beliefs of an ethnic group, can influence the effectiveness of drug therapy and patient adherence. (pharmacoanthropology, medical anthropology, and cultural psychiatry). For example, cultural perceptions and beliefs can affect a patient's understanding of and adherence to medical treatment.</strong>
            </div>
          </div>
        </div>
      </div>
</div>