
<div>
    <label for="fname">First Name</label>
    <input type="text" id="fname" placeholder="First Name">

    <label for="lname">Last Name</label>
    <input type="text" id="lname" placeholder="Last Name">

    <label for="email">E-mail</label>
    <input type="text" id="email" placeholder="E-mail">

    <label for="gender">Gender</label>
    <input type="radio" id="male" value="male">
    <label for="male">Male</label>
    <input type="radio" id="female" value="female">
    <label for="male">Female</label>
    <br><br>

    <label for="age">Age</label>
    <input type="text" id="age" placeholder="Age (In years)">

    <label for="country">Continent</label>
    <select id="country">
        <option value="Australia">Australia</option>
        <option value="North-america">North America</option>
        <option value="South-america">South America</option>
        <option value="Asia">Asia</option>
        <option value="Europe">Europe</option>
        <option value="Africa">Africa</option>
    </select>


    <label for="ethinicity">Ethnicity/Race</label>
    <select id="race">
        <option value="African">African</option>
        <option value="Caribbean">Caribbean</option>
        <option value="Indian">Indian</option>
        <option value="Melanesian">Melanesian</option>
        <option value="Australasian">Australasian/Aboriginal</option>
        <option value="Chinese">Chinese</option>
        <option value="Guamanian">Guamanian</option>
        <option value="Japanese">Japanese</option>
        <option value="korean">Korean</option>
        <option value="Polynesian">Polynesian</option>
        <option value="European">European/Anglo Saxon</option>
        <option value="Latin">Latin American</option>
        <option value="Other-Pacific">Other Pacific Islander</option>
        <option value="Arabic">Arabic</option>
        <option value="Micronesian">Micronesian</option>
        <option value="Vietnamese">Vietnamese</option>
        <option value="Other">Other Hispanic</option>
        <option value="canadian-indian">US or Canadian Indian </option>
        <option value="Other-Asian">Other Asian</option>
        <option value="PuertoRican">Puerto Rican</option>
        <option value="Filipino">Filipino</option>
        <option value="Mexican">Mexican</option>
        <option value="Alaskan-Native">Alaskan Native</option>
        <option value="Cuban">Cuban</option>
    </select>

    <label for="alcohol">Alcohol</label>
    <select id="alcohol">
        <option value="Yes">Yes</option>
        <option value="No">No</option>
    </select>

    <label for="Smoking">Smoking</label>
    <select id="Smoking">
        <option value="Yes">Yes</option>
        <option value="No">No</option>
    </select>

    <label for="Drugs">Drugs</label>
    <select id="Drugs">
        <option value="Yes">Yes</option>
        <option value="No">No</option>
    </select>
</div>



