
<div> 
  <h1 class="generateMedicine">Generate Medicine</h1>

<div class="form">
    <h2 class="form-heading"> Candidate Profile </h2>
  
  <form [formGroup]="reactiveForm" (ngSubmit)="onSubmit()">
    <label for="fname">First Name</label>
    <input type="text" id="fname" placeholder="First Name" formControlName="firstname">

    <label for="lname">Last Name</label>
    <input type="text" id="lname" placeholder="Last Name" formControlName="lastname">

    <label for="email">E-mail</label>
    <input type="text" id="email" placeholder="E-mail" formControlName="email">

    <label for="gender">Gender</label>
    <input type="radio" id="male" value="male" formControlName="gender">
    <label for="male">Male</label>
    <input type="radio" id="female" value="female" formControlName="gender">
    <label for="male">Female</label>
    <br><br>

    <label for="age">Age</label>
    <input type="text" id="age" placeholder="Age (In years)" formControlName="age">

    <label for="continent">Continent</label>
    <select id="continent" formControlName="continent">
        <option value="Australia">Australia</option>
        <option value="North-america">North America</option>
        <option value="South-america">South America</option>
        <option value="Asia">Asia</option>
        <option value="Europe">Europe</option>
        <option value="Africa">Africa</option>
    </select>


    <label for="ethinicity">Ethnicity/Race</label>
    <select id="race" formControlName="ethinicity">
        <option value="Other-Asian">Asian</option>
        <option value="White">White</option>
        <option value="AfricanAmerican">African American</option>
        <option value="Indian">Hispanic</option>
    </select>

    <label for="alcohol">Alcohol</label>
    <select id="alcohol" formControlName="alcohol">
        <option value="Yes">Yes</option>
        <option value="No">No</option>
    </select>

    <label for="Smoking">Smoking</label>
    <select id="Smoking" formControlName="smoking">
        <option value="Yes">Yes</option>
        <option value="No">No</option>
    </select>

    <label for="Drugs">Disease</label>
    <select id="Drugs" formControlName="drugs">
        <option value="Cardiovascular">Cardiovascular</option>
        <option value="Covid">Covid</option>
    </select>
    <button class="btn btn-success">Submit
    <button type="button" class="btn" data-bs-toggle="modal" data-bs-target="#exampleModal">
    </button>
  
  <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h1 class="modal-title fs-5" id="exampleModalLabel">Medicine</h1>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
            <p>No CYP2C9  2 and 3  and no VKORC1 - c.-1639G>A detected <br><br> Drug recommended: Warfarin's <br><br>  Dosage recommended: 3-5 mg </p>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
        </div>
      </div>
    </div>
  </div>

    </button>
  </form>
</div>
</div>



