<div class="container">
    <h1 class="medication">Terms</h1>
    <p>Nucleotide: basic building block of nucleic acids (DNA , RNA). Nucleotides are arranged in sequences to form the genetic code and carry genetic information. four types: Adenine (A), Thymine (T), Cytosine (C), Guanine (G)
        <br><br>
        Amino Acid: building blocks to form polypeptide chains, which then fold into functional proteins.proteins. (20 std tyeps)
        <br><br>
        Peptide: short chain of amino acids that have various biological functions and act as a precursors to proteins, regulatory roles in signaling pathways and other cellular processes.
        <br><br>
        Gene: functional units of heredity, segment of DNA that contains instructions for building one or more molecules, typically proteins.
        <br><br>
        Gene Variant: or allele, is a specific version of a gene. Gene variants can differ in their DNA sequence, different forms of a protein or SNP.
        <br><br>
        SNP (Single Nucleotide Polymorphism): genetic variation in which a single nucleotide (A, T, C, or G) at a specific position in the genome differs among individuals or populations. Most common type of genetic variation and can be associated with various traits, diseases, and individual differences.These genetic variations can affect three key processes: drug metabolism, drug targets, and disease pathways.
        <br><br>
        Other points: gene deletions, duplications, and insertions, regulatory gene mutations, and variations in gene copy number, can influence metabolic pathways in the body.</p>
</div>