<div class="container">
    <div class="row">
        <div class="col">
            <h1>Genemo AI</h1>
            <p>Generating Medicine. Saving Lives</p>
            <button class="btn btn-light">Explore</button>
        </div>
        <div class="col">
            <div class="card card1">
                <h5>Factors</h5>
                <p></p>
            </div>
            <div class="card card2">
                <h5>Polymorphism</h5>
                <p></p>
            </div>
            <div class="card card3">
                <h5>Medication Via Race</h5>
                <p></p>
            </div>
            <div class="card card4">
                <h5>Candidate Profile</h5>
                <p></p>
            </div>
        </div>
    </div>
</div>